@model IEnumerable<WhereToPlay.Models.DB.User>
@{ViewBag.Title = "Lista utilizatori";}

<div class="divTable">
    <div id="divTableRowHeader">
        <div class="divTableCell"><p>@Html.DisplayNameFor(model => model.UserGroup.UserGroupName)</p></div>
        <div class="divTableCell"><p>@Html.DisplayNameFor(model => model.UserName)</p></div>
        <div class="divTableCell"><p>@Html.DisplayNameFor(model => model.UserPhone)</p></div>
        <div class="divTableCell"><p>@Html.DisplayNameFor(model => model.UserEmail)</p></div>
        <div class="divTableCell"><p>@Html.DisplayNameFor(model => model.UserFullName)</p></div>
     </div>
    <br />

        @foreach (var item in Model)
        {
            <div class="divTableRow">
                <div class="divTableCell"><p>@Html.DisplayFor(modelItem => item.UserGroup.UserGroupName)</p></div>
                <div class="divTableCell"><p>@Html.DisplayFor(modelItem => item.UserName)</p></div>
                <div class="divTableCell"><p>@Html.DisplayFor(modelItem => item.UserPhone)</p></div>
                <div class="divTableCell"><p>@Html.DisplayFor(modelItem => item.UserEmail)</p></div>
                <div class="divTableCell"><p>@Html.DisplayFor(modelItem => item.UserFullName)</p></div>
                @if (item.UserGroup.UserGroupName != "Administrator")
                {
                    if (item.Hidden == false)
                    {
                        <div class="divTableCell">
                                @Html.HiddenFor(modelItem => item.Hidden, new { @disabled = "disabled" })
                                <p>@Html.ActionLink("Inactiveaza", "Delete", new { id = item.IDUser }, new { @class = "linkUtilizatori" })</p>
                        </div>
                    }
                    else
                    {
                        <div class="divTableCell">
                                @Html.HiddenFor(modelItem => item.Hidden, new { @disabled = "disabled" })
                                <p>@Html.ActionLink("Activeaza", "Delete", new { id = item.IDUser }, new { @class = "linkUtilizatori" })</p>
                        </div>
                    }
                }
            </div>
        }
    </div>