@model WhereToPlay.Models.DB.User
@{ViewBag.Title = "Logare";}

<link href="~/Content/Site.css" rel="stylesheet" type="text/css" />

<div class="divlogare">
    @using (Html.BeginForm("Login", "Account", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.UserPassword, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.UserPassword, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.UserPassword, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Logheaza-ma" class="btn btn-default" />
                </div>
            </div>
        </div>
    }
    <div id="logarelinks">
        <p>@Html.ActionLink("Mi-am uitat parola!", "ForgotPass", "Account")</p>
  
        <p>@Html.ActionLink("Sunt nou aici!", "Register", "Account")</p>
    </div>
</div>
