<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - WhereToPlay</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/jquery-2.2.0.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <link href="~/Content/HomeIndex.css" rel="stylesheet" />
</head>
<body>
    <div id="menu">
        <div class="container">
            
            <a href='@Url.Action("Index", "Home")'>
                <img src="~/Content/Images/logo-mihai35_02_H275.gif" />
            </a>
            
            <p id="pageTitle">@ViewBag.Title</p>

            <ul id ="menuList" class="nav navbar-nav">
                
                @if (Request.IsAuthenticated)
                {
                    WhereToPlay.Models.LoggedStatus status = WhereToPlay.Models.Utilities.GetLoggedStatus(HttpContext.Current.User.Identity.Name);
                    if (status == WhereToPlay.Models.LoggedStatus.NotLogged)
                    {
                        FormsAuthentication.SignOut();
                    }
                    else
                    {
                        <li> @Html.ActionLink("Acasa", "Index", "Home") </li>
                        switch (status)
                        {
                            case WhereToPlay.Models.LoggedStatus.LoggedAdmin:
                                <li>@Html.ActionLink("Lista Utilizatori", "Index", "Account")</li>
                                break;

                            case WhereToPlay.Models.LoggedStatus.LoggedOwner:
                                <li> @Html.ActionLink("Adauga Teren", "Create", "Courts") </li>
                                <li> @Html.ActionLink("Terenurile Mele", "Index", "Courts") </li>
                                <li> @Html.ActionLink("Rezervari", "Rezervari", "Courts") </li>
                                break;

                            default:
                                break;
                        }
                        <li> @Html.ActionLink("Contacteaza-ne", "ContactUs", "Home") </li>
                        <li> @Html.ActionLink("Despre Noi", "DespreNoi", "Home") </li>
                        <li> @Html.ActionLink(HttpContext.Current.User.Identity.Name, "Edit", "Account") </li>
                        <li> @Html.ActionLink("Log Out", "Logout", "Account") </li>
                    }
                }
                else
                {
                    <li> @Html.ActionLink("Acasa", "Index", "Home") </li>
                    <li> @Html.ActionLink("Contacteaza-ne", "ContactUs", "Home") </li>
                    <li> @Html.ActionLink("Despre Noi", "DespreNoi", "Home") </li>
                    <li> @Html.ActionLink("Inregistrare", "Register", "Account") </li>
                    <li> @Html.ActionLink("Logare", "Login", "Account") </li>
                }
            </ul>
        </div>
    </div> 


    <div class="container body-content">
        @RenderBody()
        <br/>
        <hr />
        <div id="footer">
            <ul class="nav navbar-nav">
                <li><p>&copy; @DateTime.Now.Year - The Challengers</p></li>
                <li><p>@Html.ActionLink("Despre Noi", "DespreNoi", "Home")</p></li>
                <li><p>@Html.ActionLink("Termeni si Conditii", "TermeniSiConditii", "Home")</p></li>
            </ul>
        </div>
    </div>

</body>
</html>