@model IEnumerable<WhereToPlay.Models.DB.Court>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table class="table">
    <tr>
        @{
            WhereToPlay.Models.WhereToPlayDb db = new WhereToPlay.Models.WhereToPlayDb();
            int spIDF = db.Sports.Where(s => s.SportName == "Fotbal").FirstOrDefault().IDSport;
            <td>
                @Html.ActionLink("Fotbal", "IndexSports", new { id = spIDF })
            </td>
        }

        @{
            int spIDT = db.Sports.Where(s => s.SportName == "Tenis").FirstOrDefault().IDSport;
            <td>
                @Html.ActionLink("Tenis", "IndexSports", new { id = spIDT })
            </td>
        }

        @{
            int spIDB = db.Sports.Where(s => s.SportName == "Baschet").FirstOrDefault().IDSport;
            <td>
                @Html.ActionLink("Baschet", "IndexSports", new { id = spIDB })
            </td>
        }
    </tr>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Address.AddressStreet)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sport.SportName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CourtName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Length)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Width)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmailAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SessionPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Hidden)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Address.AddressStreet)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sport.SportName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CourtName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Length)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Width)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PhoneNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmailAddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SessionPrice)
        </td>
       @if (item.Hidden == false)
       {
         <td>
            @Html.DisplayFor(modelItem => item.Hidden)
            @Html.ActionLink("Inactiveaza", "Delete", new { id = item.IDCourt })
        </td>
       }
       else
       {
        <td>
            @Html.DisplayFor(modelItem => item.Hidden)
            @Html.ActionLink("Activeaza", "Delete", new { id = item.IDCourt })
        </td>
       }
        <td>
            @Html.ActionLink("Modifica", "Edit", new { id = item.IDCourt })
        </td>
        <td>
            @Html.ActionLink("Inchiriaza", "Details", new { id = item.IDCourt }) 
        </td>
    </tr>

    //Aici e index-ul din Courts
}

</table>
