@model IEnumerable<WhereToPlay.Models.DB.Court>

<link href="~/Content/HomeIndex.css" rel="stylesheet" type="text/css" />

<div class="divTableRow">
    <ul class="nav navbar-nav">
        @{
            WhereToPlay.Models.WhereToPlayDb db = new WhereToPlay.Models.WhereToPlayDb();
            int spIDF = db.Sports.Where(s => s.SportName == "Fotbal").FirstOrDefault().IDSport;
            <li>
                <p>@Html.ActionLink("Fotbal", "IndexSports", new { id = spIDF })</p>
            </li>
        }

        @{
            int spIDT = db.Sports.Where(s => s.SportName == "Tenis").FirstOrDefault().IDSport;
            <li>
                <p>Html.ActionLink("Tenis", "IndexSports", new { id = spIDT })</p>
            </li>
        }

        @{
            int spIDB = db.Sports.Where(s => s.SportName == "Baschet").FirstOrDefault().IDSport;
            <li>
                <p>@Html.ActionLink("Baschet", "IndexSports", new { id = spIDB })</p>
            </li>
        }
        <li>
           <p>@Html.ActionLink("Toate", "Index")</p>
        </li>
        <li>
            <form method="get">
                <input type="search" name="terenCautat" />
                <input type="submit" value="Cauta Teren" />
            </form>
        </li>
    </ul>
</div>


<div class="divTable">
    @for (int i = 0; i < Model.ToList().Count; i += 3)
    {
        <div class="divTableRow">
            @*coloana 1 *@
            <div class="divTableCell">
                <div class="divGol">
                    <p>@Model.ToList()[i].Sport.SportName / @Model.ToList()[i].CourtName</p>
                    @{
                        if (Model.ToList()[i].FileName1 != null)
                        {
                            string imageBase64 = Convert.ToBase64String(Model.ToList()[i].Content1);
                            string imageSrc = string.Format("data:image/jpeg;base64,{0}", imageBase64);
                            <a href='@Url.Action("Details", "Courts", new { id = Model.ToList()[i].IDCourt })'>
                                <img src="@imageSrc" style="height:200px;width:300px;" />
                            </a>
                        }
                        else
                        {
                            if (Model.ToList()[i].FileName2 != null)
                            {
                                string imageBase64 = Convert.ToBase64String(Model.ToList()[i].Content2);
                                string imageSrc = string.Format("data:image/jpeg;base64,{0}", imageBase64);
                                <a href='@Url.Action("Details", "Courts", new { id = Model.ToList()[i].IDCourt })'>
                                    <img src="@imageSrc" style="height:200px;width:300px;" />
                                </a>
                            }
                            else
                            {
                                if (Model.ToList()[i].FileName3 != null)
                                {
                                    string imageBase64 = Convert.ToBase64String(Model.ToList()[i].Content3);
                                    string imageSrc = string.Format("data:image/jpeg;base64,{0}", imageBase64);
                                    <a href='@Url.Action("Details", "Courts", new { id = Model.ToList()[i].IDCourt })'>
                                        <img src="@imageSrc" style="height:200px;width:300px;" />
                                    </a>
                                }
                                else
                                {
                                    if (Model.ToList()[i].Sport.SportName == "Fotbal")
                                    {
                                        <img src="~/Content/Images/fotbal.png" style="height:200px;width:300px;" />
                                    }
                                    else
                                    {
                                        if (Model.ToList()[i].Sport.SportName == "Tenis")
                                        {
                                            <img src="~/Content/Images/tenis.png" style="height:200px;width:300px;" />
                                        }
                                        else
                                        {
                                            if (Model.ToList()[i].Sport.SportName == "Bachet")
                                            {
                                                <img src="~/Content/Images/baschet.png" style="height:200px;width:300px;" />
                                            }
                                            else
                                            {
                                                <img src="~/Content/Images/no_image-500x500.png" style="height:200px;width:300px;" />
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                    @if (Model.ToList()[i].Hidden == false)
                    {
                        <p>@Html.ActionLink("Inchiriaza", "Details", "Courts", new { id = Model.ToList()[i].IDCourt }, null) / @Html.ActionLink("Inactiveaza", "Delete", new { id = Model.ToList()[i].IDCourt }) / @Html.ActionLink("Modifica", "Edit", new { id = Model.ToList()[i].IDCourt })</p>
                    }
                    else
                    {
                        <p>@Html.ActionLink("Inchiriaza", "Details", "Courts", new { id = Model.ToList()[i].IDCourt }, null) / @Html.ActionLink("Activeaza", "Delete", new { id = Model.ToList()[i].IDCourt }) / @Html.ActionLink("Modifica", "Edit", new { id = Model.ToList()[i].IDCourt })</p>
                    }
                </div>
            </div>
            @if (i + 1 < Model.ToList().Count)
                {
                @*coloana 2 *@
                <div class="divTableCell">
                    <div class="divGol">
                        <p>@Model.ToList()[i + 1].Sport.SportName / @Model.ToList()[i + 1].CourtName</p>
                        @{
                            if (Model.ToList()[i + 1].FileName1 != null)
                            {
                                string imageBase64 = Convert.ToBase64String(Model.ToList()[i + 1].Content1);
                                string imageSrc = string.Format("data:image/jpeg;base64,{0}", imageBase64);
                                <a href='@Url.Action("Details", "Courts", new { id = Model.ToList()[i+1].IDCourt })'>
                                    <img src="@imageSrc" style="height:200px;width:300px;" />
                                </a>
                            }
                            else
                            {
                                if (Model.ToList()[i + 1].FileName2 != null)
                                {
                                    string imageBase64 = Convert.ToBase64String(Model.ToList()[i + 1].Content2);
                                    string imageSrc = string.Format("data:image/jpeg;base64,{0}", imageBase64);
                                    <a href='@Url.Action("Details", "Courts", new { id = Model.ToList()[i+1].IDCourt })'>
                                        <img src="@imageSrc" style="height:200px;width:300px;" />
                                    </a>
                                }
                                else
                                {
                                    if (Model.ToList()[i + 1].FileName3 != null)
                                    {
                                        string imageBase64 = Convert.ToBase64String(Model.ToList()[i + 1].Content3);
                                        string imageSrc = string.Format("data:image/jpeg;base64,{0}", imageBase64);
                                        <a href='@Url.Action("Details", "Courts", new { id = Model.ToList()[i+1].IDCourt })'>
                                            <img src="@imageSrc" style="height:200px;width:300px;" />
                                        </a>
                                    }
                                    else
                                    {
                                        if (Model.ToList()[i + 1].Sport.SportName == "Fotbal")
                                        {
                                            <img src="~/Content/Images/fotbal.png" style="height:200px;width:300px;" />
                                        }
                                        else
                                        {
                                            if (Model.ToList()[i + 1].Sport.SportName == "Tenis")
                                            {
                                                <img src="~/Content/Images/tenis.png" style="height:200px;width:300px;" />
                                            }
                                            else
                                            {
                                                if (Model.ToList()[i + 1].Sport.SportName == "Bachet")
                                                {
                                                    <img src="~/Content/Images/baschet.png" style="height:200px;width:300px;" />
                                                }
                                                else
                                                {
                                                    <img src="~/Content/Images/no_image-500x500.png" style="height:200px;width:300px;" />
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        @if (Model.ToList()[i + 1].Hidden == false)
                        {
                            <p>@Html.ActionLink("Inchiriaza", "Details", "Courts", new { id = Model.ToList()[i + 1].IDCourt }, null) / @Html.ActionLink("Inactiveaza", "Delete", new { id = Model.ToList()[i + 1].IDCourt }) / @Html.ActionLink("Modifica", "Edit", new { id = Model.ToList()[i + 1].IDCourt })</p>
                        }
                        else
                        {
                            <p>@Html.ActionLink("Inchiriaza", "Details", "Courts", new { id = Model.ToList()[i + 1].IDCourt }, null) / @Html.ActionLink("Activeaza", "Delete", new { id = Model.ToList()[i + 1].IDCourt }) / @Html.ActionLink("Modifica", "Edit", new { id = Model.ToList()[i + 1].IDCourt })</p>
                        }
                    </div>
                </div>
                            }
                            @*coloana 3 *@
                            @if (i + 2 < Model.ToList().Count)
                {
                                <div class="divTableCell">
                                    <div class="divGol">
                                        <p>@Model.ToList()[i + 2].Sport.SportName / @Model.ToList()[i + 2].CourtName</p>
                                        @{
                                            if (Model.ToList()[i + 2].FileName1 != null)
                                            {
                                                string imageBase64 = Convert.ToBase64String(Model.ToList()[i + 2].Content1);
                                                string imageSrc = string.Format("data:image/jpeg;base64,{0}", imageBase64);
                                                <a href='@Url.Action("Details", "Courts", new { id = Model.ToList()[i+2].IDCourt })'>
                                                    <img src="@imageSrc" style="height:200px;width:300px;" />
                                                </a>
                                            }
                                            else
                                            {
                                                if (Model.ToList()[i + 2].FileName2 != null)
                                                {
                                                    string imageBase64 = Convert.ToBase64String(Model.ToList()[i + 2].Content2);
                                                    string imageSrc = string.Format("data:image/jpeg;base64,{0}", imageBase64);
                                                    <a href='@Url.Action("Details", "Courts", new { id = Model.ToList()[i+2].IDCourt })'>
                                                        <img src="@imageSrc" style="height:200px;width:300px;" />
                                                    </a>
                                                }
                                                else
                                                {
                                                    if (Model.ToList()[i + 2].FileName3 != null)
                                                    {
                                                        string imageBase64 = Convert.ToBase64String(Model.ToList()[i + 2].Content3);
                                                        string imageSrc = string.Format("data:image/jpeg;base64,{0}", imageBase64);
                                                        <a href='@Url.Action("Details", "Courts", new { id = Model.ToList()[i+2].IDCourt })'>
                                                            <img src="@imageSrc" style="height:200px;width:300px;" />
                                                        </a>
                                                    }
                                                    else
                                                    {
                                                        if (Model.ToList()[i + 2].Sport.SportName == "Fotbal")
                                                        {
                                                            <img src="~/Content/Images/fotbal.png" style="height:200px;width:300px;" />
                                                        }
                                                        else
                                                        {
                                                            if (Model.ToList()[i + 2].Sport.SportName == "Tenis")
                                                            {
                                                                <img src="~/Content/Images/tenis.png" style="height:200px;width:300px;" />
                                                            }
                                                            else
                                                            {
                                                                if (Model.ToList()[i + 2].Sport.SportName == "Bachet")
                                                                {
                                                                    <img src="~/Content/Images/baschet.png" style="height:200px;width:300px;" />
                                                                }
                                                                else
                                                                {
                                                                    <img src="~/Content/Images/no_image-500x500.png" style="height:200px;width:300px;" />
                                                                }
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                        @if (Model.ToList()[i + 2].Hidden == false)
                                        {
                                            <p>@Html.ActionLink("Inchiriaza", "Details", "Courts", new { id = Model.ToList()[i + 2].IDCourt }, null) / @Html.ActionLink("Inactiveaza", "Delete", new { id = Model.ToList()[i + 2].IDCourt }) / @Html.ActionLink("Modifica", "Edit", new { id = Model.ToList()[i + 2].IDCourt })</p>
                                        }
                                        else
                                        {
                                            <p>@Html.ActionLink("Inchiriaza", "Details", "Courts", new { id = Model.ToList()[i + 2].IDCourt }, null) / @Html.ActionLink("Activeaza", "Delete", new { id = Model.ToList()[i + 2].IDCourt }) / @Html.ActionLink("Modifica", "Edit", new { id = Model.ToList()[i + 2].IDCourt })</p>
                                        }
                                    </div>
                                </div>
                                            }
                        </div>
                                            }

</div>

