@model IEnumerable<WhereToPlay.Models.DB.Court>


    @foreach (WhereToPlay.Models.DB.Court item in Model)
    {
        <div class="divTableRow">
            <div class="divTableCell">
                <div class="divGol">
                    <p>@item.Sport.SportName / @item.CourtName</p>
                    @{
                        if (item.FileName1 != null)
                        {
                            string imageBase64 = Convert.ToBase64String(item.Content1);
                            string imageSrc = string.Format("data:image/jpeg;base64,{0}", imageBase64);
                            <img src="@imageSrc" style="height:200px;width:300px;" />
                        }
                        else
                        {
                            if (item.FileName2 != null)
                            {
                                string imageBase64 = Convert.ToBase64String(item.Content2);
                                string imageSrc = string.Format("data:image/jpeg;base64,{0}", imageBase64);
                                <img src="@imageSrc" style="height:200px;width:300px;" />
                            }
                            else
                            {
                                if (item.FileName3 != null)
                                {
                                    string imageBase64 = Convert.ToBase64String(item.Content3);
                                    string imageSrc = string.Format("data:image/jpeg;base64,{0}", imageBase64);
                                    <img src="@imageSrc" style="height:200px;width:300px;" />
                                }
                                else
                                {
                                    <img src="~/Content/Images/no_image-500x500.png" style="height:200px;width:300px;" />
                                }
                            }
                        }
                    }
                    @if (Request.IsAuthenticated)
                    {
                        <p>@Html.ActionLink("Inchiriaza", "Details", "Courts", new { id = item.IDCourt }, null)</p>
                    }
                    else
                    {
                        <p>@Html.ActionLink("Inchiriaza", "Login", "Account")</p>
                    }
                </div>
            </div>
        </div>
                        }
       

