@model IEnumerable<WhereToPlay.Models.DB.Court>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<ul>
@foreach(WhereToPlay.Models.DB.Court court in Model)
{
    <li>
        <p>
            @court.CourtName
        </p>
        <p>
            @court.Address.AddressStreet  -  @court.Address.AddressNumber  -  @court.Address.AddressCity  -  @court.Address.AddressCounty
        </p>
        <p>
            @court.EmailAddress
        </p>
    </li>     
 
}
</ul>