@model IEnumerable<WhereToPlay.Models.DB.Court>
@{ ViewBag.Title = "Acasa"; }


<link href="~/Content/HomeIndex.css" rel="stylesheet" type="text/css" />

<div class="divTableRow">
    <ul class="nav navbar-nav">
        @{
           // WhereToPlay.Models.WhereToPlayDb db = new WhereToPlay.Models.WhereToPlayDb();
            //int spIDF = db.Sports.Where(s => s.SportName == "Fotbal").FirstOrDefault().IDSport;
            <li>
                <p>@Html.ActionLink("Fotbal", "IndexSports", new { id = "Fotbal" })</p>
            </li>
        }

        @{
            //int spIDT = db.Sports.Where(s => s.SportName == "Tenis").FirstOrDefault().IDSport;
            <li>
               <p>@Html.ActionLink("Tenis", "IndexSports", new { id = "Tenis" })</p>
            </li>
        }

        @{
            //int spIDB = db.Sports.Where(s => s.SportName == "Baschet").FirstOrDefault().IDSport;
            <li>
                <p>@Html.ActionLink("Baschet", "IndexSports", new { id = "Baschet" })</p>
            </li>
        }
    </ul>
</div>

<div class="divTable">
    <div class="divTableCell">
        @{
            List<WhereToPlay.Models.DB.Court> ListaFotbal = Model.Where(c => c.Sport.SportName == "Fotbal").OrderByDescending(c => c.IDCourt).Take(3).ToList();
            @Html.Partial("_IndexSport", ListaFotbal)
        }
    </div>

    <div class="divTableCell">
        @{
            List<WhereToPlay.Models.DB.Court> ListaTenis = Model.Where(c => c.Sport.SportName == "Tenis").OrderByDescending(c => c.IDCourt).Take(3).ToList();
            @Html.Partial("_IndexSport", ListaTenis)
        }
    </div>

    <div class="divTableCell">
        @{
            List<WhereToPlay.Models.DB.Court> ListaBaschet = Model.Where(c => c.Sport.SportName == "Baschet").OrderByDescending(c => c.IDCourt).Take(3).ToList();
            @Html.Partial("_IndexSport", ListaBaschet)
        }
    </div>
</div>